##############################################################################
#
# Custom alias
#
##############################################################################

alias ..="cd .."
alias ...="cd ../.."

#----------------------------------------------------------------------------
# Shortcuts
#----------------------------------------------------------------------------
alias dl="cd ~/Downloads"
alias pp="cd ~/projects"
alias bb="cd ~/bitbucket"
alias gh="cd ~/github.com"

alias g="git"
alias v='vim'
alias df='df -H'
alias du='du -ch'
alias h='history'
alias j='jobs -l'

#----------------------------------------------------------------------------
# Improve existing commands
#----------------------------------------------------------------------------

# Add confirmation
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'

# Use colordiff
alias diff='colordiff'

# Use color for the grep command
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# list sorted environment variables§
alias envs='env|sort'

# Clear the screen
alias c='clear'

# Show open ports
alias ports='netstat -tulanp'

# Add math support to the calculater
alias bc='bc -l'

#----------------------------------------------------------------------------
# get the weather in Linköping and current week no
#----------------------------------------------------------------------------
# Get week number
alias week='date +%V'

# Weather in the terminal
alias getweth='curl wttr.in/linkoping?lang=se'

#----------------------------------------------------------------------------
# OS info
#----------------------------------------------------------------------------
# memory info
alias meminfo='free -m -l -t'

# List top memory processes
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'

# Top CPU processes
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'

# CPU info
alias cpuinfo='lscpu'
#alias cpuinfo='less /proc/cpuinfo'

# Formated mount listing
alias mount='mount |column -t'

#----------------------------------------------------------------------------
# Definitions of alias for ssh
#---------------------------------------------------------------------------- 
alias sshagt='eval "$(ssh-agent -s)"'
alias gk="eval $(ssh-agent) && ssh-add -K ~/.ssh/ith.com.jr"

#----------------------------------------------------------------------------
# Definitions of alias for Docker
#---------------------------------------------------------------------------- 
alias dkps="docker ps"
alias dkst="docker stats"
alias dkpsa="docker ps -a"
alias dkimgs="docker images"
alias dkcpup="docker-compose up -d"
alias dkcpdown="docker-compose down"
alias dkcpstart="docker-compose start"
alias dkcpstop="docker-compose stop"

